# Fields
public-f net.minecraft.entity.player.PlayerInventory field_184440_g#allInventories
public-f net.minecraft.client.gui.screen.inventory.ContainerScreen field_147001_a#INVENTORY_BACKGROUND
public-f net.minecraft.entity.player.PlayerEntity field_71069_bz#playerContainer

#Methods
public net.minecraft.inventory.container.Container func_75146_a(Lnet/minecraft/inventory/container/Slot;)Lnet/minecraft/inventory/container/Slot;
